.mai-notice {
	position: relative;
	background: #fff;
	padding: 24px 24px 24px 80px;
	margin-bottom: 24px;
	border: 1px solid rgba(0,0,0,.04);
	border-left: none;
	border-radius: 5px;
	-webkit-box-shadow: var(--box-shadow, 0 0 16px rgba(0,0,0,.05));
	box-shadow: var(--box-shadow, 0 0 16px rgba(0,0,0,.05));
	overflow: hidden;
}

.mai-notice::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	background: var(--mai-notice-color);
}

.mai-notice.error {
	border-left-color: #fd0010;
}

.mai-notice.notice {
	border-left-color: #06a4e6;
}

.mai-notice.success {
	border-left-color: #83ab58;
}

.mai-notice.warning {
	border-left-color: #fea321;
}

.mai-notice svg {
	color: var(--mai-notice-color);
	position: absolute;
	top: 20px;
	left: 24px;
	height: auto;
	width: 100%;
	max-width: 36px;
}

.mai-notice p:last-child {
	margin-bottom: 0;
}
