.mai-notice {
	position: relative;
	background: #fff;
	padding: 24px 24px 24px 80px;
	margin-bottom: 24px;
	border: 1px solid rgba(0,0,0,.04);
	border-left: none;
	border-radius: 5px;
	-webkit-box-shadow: var(--box-shadow, 0 0 16px rgba(0,0,0,.05));
	box-shadow: var(--box-shadow, 0 0 16px rgba(0,0,0,.05));
	overflow: hidden;
}

.mai-notice::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	background: var(--mai-notice-color);
}

.mai-notice.error {
	border-left-color: #fd0010;
}

.mai-notice.notice {
	border-left-color: #06a4e6;
}

.mai-notice.success {
	border-left-color: #83ab58;
}

.mai-notice.warning {
	border-left-color: #fea321;
}

.mai-notice svg {
	color: var(--mai-notice-color);
	width: 100%;
	height: auto;
}

.mai-notice p:last-child,
.entry-content .mai-notice p:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 413px) {

	.mai-notice {
		padding: 24px;
	}

	.mai-notice svg {
		max-width: 24px;
		margin-bottom: 4px;
	}

}

@media only screen and (min-width: 414px) {

	.mai-notice svg {
		position: absolute;
	}

}


@media only screen and (min-width: 414px) and (max-width: 544px) {

	.mai-notice {
		padding: 24px 24px 24px 64px;
	}

	.mai-notice svg {
		top: 26px;
		left: 24px;
		max-width: 24px;
	}

}

@media only screen and (min-width: 545px) {

	.mai-notice {
		padding: 24px 24px 24px 80px;
	}

	.mai-notice svg {
		top: 20px;
		left: 24px;
		max-width: 36px;
	}

}
